<!-- <h4>Choose Courses</h4> -->

<!-- <div ng-hide="courses.length" class="alert alert-info">
  Search for a course by title or course number.
</div> -->
<sw-course-search on-course-select='courseSelected(course)'></sw-course-search>
<div ng-show="courses.length">
	<h3>Course Bin</h3>
</div>
<table class="table table-bordered" style="table-layout: fixed;" ng-show="courses.length">
	<tr ng-repeat="course in courses | reverse" ng-style='{"background-color": course.color}'>
		<td style="width: 10%; vertical-align: middle; font-size: 20px"><a style="cursor: pointer; color: black;" ng-click="removeCourse(course)"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
		<td style="width: 20%; vertical-align: middle;">{{course.id}}</td>
		<td style="word-wrap: break-word; vertical-align: middle;">
			<a style="cursor: pointer; color: black;" ng-click="editCourseSections(course)">{{course.name}}<span style="float: right" class="glyphicon glyphicon-pencil"></span></a>
		</td>
		<td style="width: 20%; vertical-align: middle;">{{course.units}} units</td>
	</tr>
</table>

<div ng-show="totalUnits > 0">
<progressbar max="18" value="totalUnits" type="{{(totalUnits <= 18) ? 'success' : 'danger'}}" class>
<b ng-show="totalUnits > 0">{{totalUnits}} units<span ng-show="totalUnits > 18">... what are you thinking?</span>
</b>
</progressbar>
</div>