<div class="modal-header">
	<h3>Section Numbers</h3>
</div>
<div class="modal-body">
	<p>
	Here are the section numbers for your chosen schedule. At the moment, there is no way for Scheduwolf to automatically register you for your sections; you must do it manually. Sorry. Copy and paste them for your convenience.</p>
	<textarea ng-model="numbersOutput" rows="10" cols="50" style="max-width: 400px">
	</textarea>	
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="closeDialog()">Close</button>
</div>