<div ng-show="testSolution.solutions.length" style="position: relative; left:15px">
	<button type="button" ng-click="previousSchedule()" class="btn btn-default" ng-class="{disabled: !previousButtonEnabled()}">
	<span class="glyphicon glyphicon-chevron-left">
	</button>
	{{currentSchedule.index + 1}} / {{testSolution.solutions.length}}
	<button type="button" ng-click="nextSchedule()" class="btn btn-default" ng-class="{disabled: !nextButtonEnabled()}">
	<span class="glyphicon glyphicon-chevron-right">
	</button>
<!-- 	<button type="button" ng-click="viewFinalSchedule()" class="btn btn-info">
	View Final Schedule
	</button> -->
	<br>
	<br>
</div>
<div class="alert alert-danger" ng-show="impossible" style="font-size: 20px">
Sorry, but there is no possible schedule with your chosen courses. Remove a course and try again.
</div>
<div class="alert alert-danger" ng-show="unexplainedError" style="font-size: 20px">
Unfortunately, there seems to be a problem with our server. Try back later.
</div>
<div class="alert alert-danger" ng-show="noClasses.length" style="font-size: 20px">
Sorry, {{noClasses[0]}} has no open sections. <a ng-click="noClassesEditCourseSections(noClasses[0])" class="btn btn-link">Use full sections..</a>
</div>
<sw-schedule solution="testSolution" current-schedule="currentSchedule" class="col-xs-12">
</sw-schedule>
