<div ng-show="testSolution.solutions.length" style="position: relative; left:15px">
	<button type="button" ng-click="previousSchedule()" class="btn btn-default" ng-class="{disabled: !previousButtonEnabled()}">
	<span class="glyphicon glyphicon-chevron-left">
	</button>
	{{currentSchedule.index + 1}} / {{testSolution.solutions.length}}
	<button type="button" ng-click="nextSchedule()" class="btn btn-default" ng-class="{disabled: !nextButtonEnabled()}">
	<span class="glyphicon glyphicon-chevron-right">
	</button>
	<button type="button" ng-click="viewFinalSchedule()" class="btn btn-info">
	View Final Schedule
	</button>
	<br>
	<br>
</div>
<div ng-show="impossible">
THAT'S IMPOSSIBLE!
</div>
<div class="alert alert-danger" ng-show="unexplainedError">
Unfortunately, there seems to be a problem with our server. Try back later.
</div>
<div ng-show="noClasses.length">
Sorry, sections are full for {{noClasses[0]}}.
</div>
<sw-schedule solution="testSolution" current-schedule="currentSchedule" class="col-xs-12">
</sw-schedule>
